{% extends 'layouts/base.html' %}
{% block title %}About {% endblock %}
{% block content %}
<section>
    <div class="container" style="margin-top: 140px;">
        <!-- BAGIAN OUR HISTORY -->
        <div class="row">
            <div class="col-12">
                <h2 class="text-dark">TENTANG BUAH BERVITAMIN</h2>
                <p>Selamat datang di Buah Bervitamin, sumber informasi terpercaya tentang buah-buahan kaya vitamin yang dapat mendukung kesehatan tubuh Anda. Kami menyediakan berbagai artikel, tips, dan informasi yang mendalam mengenai manfaat buah-buahan segar dan bagaimana cara mengintegrasikannya dalam pola makan sehari-hari. Tujuan kami adalah untuk membantu Anda menjalani hidup yang lebih sehat dengan memilih buah yang tepat dan bervitamin.
                    Dengan informasi yang tepat dan berguna, kami berharap dapat mendorong masyarakat untuk lebih sadar akan pentingnya mengonsumsi buah-buahan yang kaya akan nutrisi, serta menikmati manfaat kesehatan yang dapat diperoleh dari konsumsi buah secara rutin</p>
            </div>
        </div>
        <!-- BAGIAN VISI -->
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6">
                <img src="/static/image/mangga.jpg" class="img-fluid rounded" alt="Visi Nic Furniture">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="text-dark">TUJUAN KAMI</h2>
                <p>1.Menyebarkan informasi yang bermanfaat tentang berbagai buah yang kaya vitamin dan manfaatnya</p>
                <p>2.Mendorong masyarakat untuk memilih buah-buahan sebagai bagian dari diet sehat mereka.</p>
                <p>2.Membuat gaya hidup sehat lebih mudah diakses oleh semua orang melalui edukasi tentang konsumsi buah yang tepat.</p>
            </div>
        </div>
        <!-- BAGIAN MISI -->
        <div class="row align-items-center" style="margin-bottom: 100px;">
            <div class="col-12 col-md-6 order-md-2">
                <img src="/static/image/buah.png" class="img-fluid rounded" alt="Misi Nic Furniture">
            </div>
            <div class="col-12 col-md-6 order-md-1">
                <h2 class="text-dark">KOMITMEN KAMI</h2>
                <p>memberikan tips dan saran untuk mengintegrasikan lebih banyak buah-buahan kaya vitamin dalam kehidupan sehari-hari Anda. Buah Bervitamin hadir untuk membantu Anda membuat pilihan yang lebih sehat dan cerdas untuk tubuh Anda.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
